In [1]:
# configuração para não exibir os warnings
import warnings
warnings.filterwarnings("ignore")

# imports necessários
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import urllib.request
from urllib.parse import quote
from io import StringIO, BytesIO, TextIOWrapper
from zipfile import ZipFile
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [2]:
# carga do dataset
uci_url = 'https://archive.ics.uci.edu/static/public/697/'
predict_student_uci_url = 'predict+students+dropout+and+academic+success.zip'
request = urllib.request.urlopen(uci_url + urllib.parse.quote(predict_student_uci_url))
zipfile = ZipFile(BytesIO(request.read()))
filepath = TextIOWrapper(zipfile.open('data.csv'), encoding='utf-8')
dataset = pd.read_csv(filepath, sep=';')

print(dataset)

      Marital status  Application mode  Application order  Course  \
0                  1                17                  5     171
1                  1                15                  1    9254
2                  1                 1                  5    9070
3                  1                17                  2    9773
4                  2                39                  1    8014
...              ...               ...                ...     ...
4419               1                 1                  6    9773
4420               1                 1                  2    9773
4421               1                 1                  1    9500
4422               1                 1                  1    9147
4423               1                10                  1    9773

      Daytime/evening attendance\t  Previous qualification  \
0                                1                       1
1                                1                       1
2                                1                       1
3                                1                       1
4                                0                       1
...                            ...                     ...
4419                             1                       1
4420                             1                       1
4421                             1                       1
4422                             1                       1
4423                             1                       1

      Previous qualification (grade)  Nacionality  Mother's qualification  \
0                              122.0            1                      19
1                              160.0            1                       1
2                              122.0            1                      37
3                              122.0            1                      38
4                              100.0            1                      37
...                              ...          ...                     ...
4419                           125.0            1                       1
4420                           120.0          105                       1
4421                           154.0            1                      37
4422                           180.0            1                      37
4423                           152.0           22                      38

      Father's qualification  ...  Curricular units 2nd sem (credited)  \
0                         12  ...                                    0
1                          3  ...                                    0
2                         37  ...                                    0
3                         37  ...                                    0
4                         38  ...                                    0
...                      ...  ...                                  ...
4419                       1  ...                                    0
4420                       1  ...                                    0
4421                      37  ...                                    0
4422                      37  ...                                    0
4423                      37  ...                                    0

      Curricular units 2nd sem (enrolled)  \
0                                       0
1                                       6
2                                       6
3                                       6
4                                       6
...                                   ...
4419                                    6
4420                                    6
4421                                    8
4422                                    5
4423                                    6

      Curricular units 2nd sem (evaluations)  \
0                                          0
1                                          6
2                                          0
3                                         10
4                                          6
...                                      ...
4419                                       8
4420                                       6
4421                                       9
4422                                       6
4423                                       6

      Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                       0                          0.000000
1                                       6                         13.666667
2                                       0                          0.000000
3                                       5                         12.400000
4                                       6                         13.000000
...                                   ...                               ...
4419                                    5                         12.666667
4420                                    2                         11.000000
4421                                    1                         13.500000
4422                                    5                         12.000000
4423                                    6                         13.000000

      Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                                  0               10.8
1                                                  0               13.9
2                                                  0               10.8
3                                                  0                9.4
4                                                  0               13.9
...                                              ...                ...
4419                                               0               15.5
4420                                               0               11.1
4421                                               0               13.9
4422                                               0                9.4
4423                                               0               12.7

      Inflation rate   GDP    Target
0                1.4  1.74   Dropout
1               -0.3  0.79  Graduate
2                1.4  1.74   Dropout
3               -0.8 -3.12  Graduate
4               -0.3  0.79  Graduate
...              ...   ...       ...
4419             2.8 -4.06  Graduate
4420             0.6  2.02   Dropout
4421            -0.3  0.79   Dropout
4422            -0.8 -3.12  Graduate
4423             3.7 -1.70  Graduate

[4424 rows x 37 columns]